<div id="planets-solar-system">
    <div id="orbit1"></div>
    <div id="orbit2"></div>
    <div id="orbit3"></div>
    <div id="orbit4"></div>
    <div id="orbit5"></div>
    <div id="orbit6"></div>
    <div id="orbit7"></div>
    <div id="orbit8"></div>
    <div id="orbit9"></div>
    <div id="sun">
        <div id="mercury">
            <img src="assets/images/planets/mercury.png" alt="mercury" />
        </div>
        <div id="venus">
            <img src="assets/images/planets/venus.png" alt="venus" />
        </div>
        <div id="earth">
            <img src="assets/images/planets/earth.png" alt="earth" />
        </div>
        <div id="moon">
            <img src="assets/images/planets/moon.png" alt="moon" />
        </div>
        <div id="mars">
            <img src="assets/images/planets/mars.png" alt="mars" />
        </div>
        <div id="jupiter">
            <img src="assets/images/planets/jupiter.png" alt="jupiter" />
        </div>
        <div id="saturn">
            <img src="assets/images/planets/saturn.png" alt="saturn" />
        </div>
        <div id="uranus">
            <img src="assets/images/planets/uranus.png" alt="uranus" />
        </div>
        <div id="neptune">
            <img src="assets/images/planets/neptune.png" alt="neptune" />
        </div>
        <div id="pluto">
            <img src="assets/images/planets/pluto.png" alt="pluto" />
        </div>
    </div>
</div>