{{>header-navbar}}
{{> messages}}
<a href="/logout">
  <div class="logout-button">Logout</div>
</a>
<div class="dashboard-block">
  <div class="header">
    <h3>Expedition</h3>
  </div>
  <div class="line-break"></div>
  <div class="planets-block">
    <div class="planets-modal">
      <div class="modal-image"><img id="planet-portrait" src="assets/images/planets/earth.png" alt="earth"></div>
      <div class="modal-header">
        <h4 id="planet-title">Earth</h4>
      </div>
      <div id="black-line-break" class="line-break"></div>
      <div class="modal-text">
        <p id="planet-info">
          This will be our launch point and also our return point. Oxygen, H2O and Mineral rich planet with a perfect
          distance from the sun. You'll be glad to come back to this solar oasis after your long interplanetary journey.
        </p>
      </div>
      <button id="choose-planet">Choose the planet</button>
    </div>
    {{>planets-solar-system}}
  </div>
</div>
<script src="/assets/js/planets.js"></script>
<script src="/assets/js/expedition-configuration/planet.js"></script>