.ready-block {
  @keyframes button-gradient-animation {
    from {
      background-position: 400%;
    }

    10% {
      box-shadow: 0px 0px 50px 5px #03a9f4;
    }

    to {
      background-position: 0%;
    }
  }

  min-height: 300px;
  border-top: 10px solid #3eacd1;
  background: #333;
  color: #fff;
  text-align: center;

  .ready-button {
    padding: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
  }

  .run-animation {
    animation: button-gradient-animation 4s linear 0s 1 forwards;
  }
}
