@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

@import './global';
@import './header';
@import './card';
@import './alert';
@import './welcome-block';
@import './stars';
@import './about-block';
@import './planets-block';

.line-break {
  height: 5px;
  width: 80%;
  border-top: 3px solid #333333;
  border-radius: 1px;
  margin: 10px auto;
}

.header {
  text-align: center;
  font-size: 4em;
  margin: 20px 0;
}

/* ----------------------- */

.rockets-block {
  min-height: 600px;
  border-top: 10px solid #3eacd1;
  background: rgb(253, 199, 163);
  background: radial-gradient(
    circle,
    rgba(253, 199, 163, 1) 24%,
    rgba(245, 184, 225, 1) 52%,
    rgba(144, 154, 242, 1) 87%
  );
}

.rockets-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rockets-block-container .card {
  max-width: 20%;
}

.rockets-block .header h2 {
  color: #fff;
  font-size: 0.9em;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.rockets-block .header .smaller-header {
  font-size: 0.5em;
  margin: 20px auto;
}

/* ----------------------- */

.launch-sites-block {
  min-height: 600px;
  border-top: 10px solid #3eacd1;
  background: rgb(51, 51, 51);
  background: radial-gradient(
    circle,
    rgba(51, 51, 51, 1) 62%,
    rgba(144, 154, 242, 0.2833727240896359) 100%
  );
}

.launch-sites-block .header h2 {
  color: #fff;
  font-size: 0.9em;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.launch-sites-block .card {
  max-width: 50%;
}

.launch-site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.launch-site-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------- */

.ready-block {
  min-height: 300px;
  border-top: 10px solid #3eacd1;
  background: #333;
  color: #fff;
  text-align: center;
}

.ready-block .ready-button {
  padding: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}

.ready-block .run-animation {
  animation: button-gradient-animation 4s linear 0s 1 forwards;
}

@keyframes button-gradient-animation {
  from {
    background-position: 400%;
  }

  10% {
    box-shadow: 0px 0px 50px 5px #03a9f4;
  }

  to {
    background-position: 0%;
  }
}

/* ----------------------- */

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* LOGIN */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
.easter-gif {
  position: fixed;
  left: 3%;
  opacity: 0;
  animation: gif-appear 3s linear 10s 1 forwards;
}

.easter-gif-signup {
  animation: gif-appear 3s linear 3s 1 forwards;
}

@keyframes gif-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.easter-gif img {
  border-radius: 20px;
  max-width: 75%;
}

.example {
  min-height: 100px;
  min-width: 200px;
  position: fixed;
  right: 20%;
  top: 50%;
  text-align: center;
  background: #fff;
  border-radius: 2px;
}

.example-header {
  text-shadow: 0 0 5px #fff;
  font-size: 1.2em;
  padding: 5px;
}

.login-signup-block {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup-block .header {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.login-signup-block .line-break {
  border-top: 1px solid rgba(51, 51, 51, 0.6);
  margin: 10px auto;
  width: 90%;
}

.login-signup-block .card {
  padding: 0 100px 50px 100px;
}

.login-signup-block .card form {
  display: flex;
  flex-direction: column;
}

.login-signup-block .card form .login-field-block > * {
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.login-signup-block .card form .password-field-block > * {
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.login-signup-button {
  padding: 20px;
  text-align: center;
  background: rgba(255, 53, 189, 0.2);
  background: linear-gradient(
    90deg,
    rgba(144, 154, 242, 0.2) 23%,
    rgba(255, 53, 189, 0.2) 52%,
    rgba(144, 154, 242, 0.2) 80%
  );
  background-size: 200%;
  text-transform: uppercase;
  box-sizing: border-box;
}

.login-signup-button:hover {
  animation: button-gradient-animation2 10s linear 0s infinite;
}

.login-signup-button:active {
  filter: brightness(0.3);
  transition: 0.1s;
}

@keyframes button-gradient-animation2 {
  from {
    background-position: 0%;
  }

  10% {
    box-shadow: 0px 0px 10px 5px #03a8f456;
  }

  to {
    background-position: 400%;
  }
}

.login-signup-block input:focus {
  box-shadow: 0px 3px 16px 0.5px #ea8ee8;
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* NAVBAR */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

.navbar-block {
  padding: 20px;
  text-align: center;
}

.navbar-block ul {
  margin: auto;
  list-style: none;
  border-top: 1px solid rgba(51, 51, 51, 0.6);
  border-left: 1px solid rgba(51, 51, 51, 0.6);
  border-right: 1px solid rgba(51, 51, 51, 0.6);
}

.navbar-block ul li {
  background: rgba(51, 51, 51, 0.05);
  padding: 5px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.6);
}

.navbar-block ul li:hover {
  background: rgba(51, 51, 51, 0.089);
  transition: 0.1s;
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* DASHBOARD */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

.dashboard-block .header {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.dashboard-block .line-break {
  border-top: 2px solid #fff;
}

#black-line-break {
  border-top: 2px solid #333;
}

.menu-block {
  display: flex;
  justify-content: center;
}

.menu-block button {
  font-weight: bold;
  color: rgb(212, 212, 212);
}

.expeditions-block button {
  width: 80%;
  padding: 20px 40px;
  margin: 20px;
}

.expeditions-block .login-signup-button {
  text-align: center;
  background: rgba(255, 53, 188, 0.555);
  background: linear-gradient(
    90deg,
    rgba(105, 120, 255, 0.699) 23%,
    rgba(255, 53, 188, 0.671) 52%
  );
  background-size: 200%;
  text-transform: uppercase;
  box-sizing: border-box;
}

.expeditions-block .header {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}

table {
  margin: auto;
  border: 4px solid #555555;
  background-color: #555555;
  width: 70%;
  min-height: 300px;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.3em;
}

table td,
table th {
  border: 1px solid #555555;
  padding: 5px 10px;
}

table tbody td {
  font-size: 1.3em;
  font-weight: normal;
  color: #ffffff;
  border: 2px solid #fff;
}

table td:nth-child(even) {
  background: #398aa4;
  border: 2px solid #555555;
}

table thead {
  background: #398aa4;
  border-bottom: 10px solid #fff;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  border-left: 2px solid #398aa4;
}

table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 13px;
}

table tfoot .links {
  text-align: right;
}

table tfoot .links a {
  display: inline-block;
  background: #ffffff;
  color: #398aa4;
  padding: 2px 8px;
  border-radius: 5px;
}

.logout-button {
  position: absolute;
  top: 15px;
  right: 80px;
  height: 35px;
  width: 70px;
  background: rgba(255, 89, 89, 0.685);
  padding: 25px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
}

/* ----------------------- */
/* ----------------------- */
/* CHOOSE PLANET */
/* ----------------------- */
/* ----------------------- */

.expeditions-block {
  position: relative;
}

#choose-planet {
  padding: 15px 25px;
  background: rgba(255, 53, 189, 0.2);
  background: linear-gradient(
    90deg,
    rgba(144, 154, 242, 0.2) 23%,
    rgba(255, 53, 189, 0.2) 52%,
    rgba(144, 154, 242, 0.2) 80%
  );
  background-size: 200%;
  text-transform: uppercase;
  box-sizing: border-box;
  animation: choose-planet-gradient-animation 4s linear 0s infinite;
}

@keyframes choose-planet-gradient-animation {
  from {
    background-position: 0%;
  }

  10% {
    box-shadow: 0px 0px 20px 5px #03a9f4;
  }

  to {
    background-position: 400%;
  }
}

.reset-button {
  position: absolute;
  top: 15px;
  left: 5px;
  height: 35px;
  width: 65px;
  background: rgb(255, 255, 255);
  padding: 25px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
}

/* ----------------------- */
/* ----------------------- */
/* TIMESTAMP */
/* ----------------------- */
/* ----------------------- */

form#timestamp-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 60%;
  align-items: center;
  margin: auto;
}

input#timestamp {
  margin-top: 25px;
  text-align: center;
  height: 100px;
  width: 300px;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 10px 20px;
}

form#timestamp-form button {
  margin-top: 50px;
  background: linear-gradient(
    90deg,
    rgba(137, 255, 174, 1) 10%,
    rgba(163, 171, 249, 1) 50%,
    rgba(137, 255, 174, 1) 90%
  );
  height: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-sizing: border-box;
  background-size: 400%;
  word-wrap: break-word;
  animation: final-submit-button-gradient-animation 5s linear 0s infinite;
}

form#timestamp-form button:hover {
  animation: final-submit-button-gradient-animation-hover 5s linear 0s infinite;
}

@keyframes final-submit-button-gradient-animation {
  from {
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }

  50% {
    box-shadow: 0px 0px 30px 20px #7cffb7;
  }

  to {
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }
}

@keyframes final-submit-button-gradient-animation-hover {
  from {
    background-position: 0%;
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }

  50% {
    background-position: 100%;
    box-shadow: 0px 0px 100px 50px #7cffb7;
  }

  to {
    background-position: 400%;
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }
}

/* ----------------------- */

/* SUCCESS */

/* ----------------------- */

.success-block img {
  margin-left: 25%;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 6px #ea8ee8;
}
